<h1 class="text-center" style="color: forestgreen;">create-account</h1>

<div class="col-md-8 offset-md-3" style="background-color: cadetblue; width: 500px;">

    <div *ngIf="accountcreate" class="alert alert-success">
        Account created successfully...
    </div>

<form (ngSubmit)="onSubmit()">

    
    <div class="form-group">

        <label for="">ID :</label>
        <input type="number" id="id" name="id" placeholder="Enter id" class="form-control"
          [(ngModel)]="account.id" required>

    </div>

    <div>

        <label for="">Account Holder Name :</label>
        <input type="text" id="accountHolderName" name="accountHolderName" placeholder="Enter name" class="form-control"
          [(ngModel)]="account.accountHolderName" required>

    </div>
    <div>

        <label for="">Account Balance :</label>
        <input type="text" id="balance" name="balance" placeholder="Enter balance" class="form-control"
          [(ngModel)]="account.balance" required>

    </div>

    <br>

    <button type="submit" class="btn btn-success">submit</button>



</form>
</div>