<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
    <li class="nav-item">
        <a href="accounts" routerLinkActive="active"class="nav-link">Account List</a></li>
        <li class="nav-item">
        <a href="create-account" routerLinkActive="active"class="nav-link">Add Account</a></li>
      <li class="nav-item">
        <a href="search-account" routerLinkActive="active"class="nav-link">Search Account</a>
    </li>
    
    </ul>
    </nav>
    <h1 class="text-center mt"><b>{{title}}</b></h1>
   
    
